.App{
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color:aliceblue;
  background-color: gray;
}
Button{
  color:whitesmoke;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius:15px ;
  background-color: blue;
}